
#inner-app.home {
  background-color: #ADD8E6;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#inner-app.edit {
  background-color: #64b5f6;
  height: 100vw;
  width: 100vw;
}

#app {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#project-tools {
  background-color: #b6ffff
}

.proc-id {
  font-weight:bold;
  font-family: "Indie Flower";
  font-size: 15px;
}

.icon-title {
  font-weight:bold;
  font-family: "Indie Flower";
  font-size: 15px;
}

.flow-term {
  font-weight:bold;
  font-family: "Indie Flower";
  font-size: 15px;
}


/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* Rules For local Octo Icons */

.icon.local.octo  {
  font-weight:bold;
  font-family: "Indie Flower";
  font-size: 5px;
}

.icon.local.octo.pod  {
  font-weight:bold;
  font-family: "Indie Flower";
  font-size: 4px;
}

/* Rules For sbnl Icons */
/* .icon.local.sbnl  {
  font-style:normal;
  font-weight:normal;
  font-size: 3.52778px;
  line-height: 1.25;
  font-family: "Roboto";
  fill: #000000;
  fill-opacity: 1;
  stroke:none;
  stroke-width: 0.264583;
} */

.icon.local.sbnl.pod  {
  font-weight:bold;
  font-family: "Indie Flower";
  font-size: 4px;
}

.icon.local.sbnl.context  {
  font-weight:bold;
  font-family: "Indie Flower";
  font-size: 20px;
}
